<style>

    .right-container {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

</style>

{% load static %}

<div class="right-container">

    <ul>
        <li class="home-page-list">
            <h4>Summarize Text From Paragraph/URL</h4>
        </li>
        <li class="home-page-list">
            <h4>Save Summarized Text</h4>
        </li>
        <li class="home-page-list">
            <h4>Summarize PDF to Text File</h4>
        </li>
        <a href="{% url 'about' %}" > Learn more </a>
    </ul>

</div>
