<style>

    .right-container {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .white-bg {
        color: #1a180e;
    }

</style>

{% load static %}

<div class="right-container">

    <ul>
        <li class="home-page-list">
            <h6>Start to summarize by inputing your text on the left or provide the URL
            and the summary will appear here...</h6>
        </li>
        <li class="home-page-list">
            <h6>You can Save Summarized Text or Summarize PDF to Text File</h6>
        </li>
        <li class="home-page-list">
            <h6> This website uses pretrained encoder and transformer decoder for summarization</h6>
        </li>
        <a href="{% url 'about' %}" class="white-bg"  > Learn more </a>
    </ul>

</div>
