{% extends "client/base.html" %}
{% load static %}


{% block navbar %}
<ul class="navbar-nav ml-auto">
    <a type="button" class="btn" data-toggle="modal" href="{% url 'login' %}">Login
    </a>
</ul>
{% endblock navbar %}

{% block index %}

    <div class="row">
        <div class="col-lg-6">
            {% if original_text %}

                <div class="container-contact100">
                    <div class="wrap-contact100">
                        <div class="contact100-form-title" style="background-image: url(/static/images/bg-01.jpg);">
                            <span class="contact100-form-title-1">
                                Original text
                            </span>
                        </div>

                        <form name="inputForm" class="contact100-form validate-form" >

                            <div class="wrap-input100">
                                <textarea class="input100 long-text" name="message">
                                    {{ original_text }}
                                </textarea>
                                <span class="focus-input100"></span>
                            </div>
                        </form>
                    </div>
                </div>

                <div id="dropDownSelect1"></div>

            {% else %}
                {% include "client/includes/text_input_form.html" %}
            {% endif %}
        </div>

        <div class="col-lg-6">
            {% include "client/includes/result.html" %}
        </div>

    </div>
{% endblock %}
