{% extends "client/base.html" %}
{% load static %}


{% block navbar %}
<ul class="navbar-nav ml-auto">
    <a type="button" class="btn" data-toggle="modal" href="{% url 'login' %}">Login
    </a>
</ul>

{% endblock navbar %}

{% block index %}

    <div class="row">
        <div class="col-lg-6">
            {% if original_text %}
                <h3>Original Text/URL</h3>
                {{ original_text }}
            {% else %}
                {% include "client/includes/text_input_form.html" %}
            {% endif %}
        </div>

        <div class="col-lg-6">
            {% include "client/includes/result.html" %}
        </div>

    </div>

{% endblock %}
